// Colors
$white: #fff; // 255,255,255
// $black: #1a1a1a;
$black: #464646;
$gray1: #d1d1d1;
$gray2: #686868;
$blue1: #007acc;
$blue2: #21759b;

// $font-family-base: "Work Sans", sans-serif;
// $font-family-icons: "Genericons";
// $font-family-input: "Work Sans", sans-serif;
// $font-family-mono: Inconsolata, monospace;
// $font-family-title: "Work Sans", sans-serif;

$font-family-base: "Rubik", sans-serif;
$font-family-icons: "Genericons";
$font-family-input: "Rubik", sans-serif;
$font-family-mono: Inconsolata, monospace;
$font-family-title: "Rubik", sans-serif;
